@using Mvc.Models  
@model ContactFormModel
@{
    ViewData["Title"] = "Startsida";
}


<div id="banner">
    <h1>Benvenuto a Pizzeria Formaggio</h1>
    <a href="tel:0737-4658746" id="teleBtn"><i class="fa-solid fa-phone"></i> 0737-465 87 46</a>
</div>
<h2>@ViewBag.Greeting</h2>
<h3 style="text-align: center">@ViewData["OpeningHours"]</h3>

<!-- google map för att hitta till pizzerian -->
<h2 id="aboutLocation">Hitta hit</h2>
<div id="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2254.679783535239!2d12.994633077881586!3d55.590181973024634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTXCsDM1JzI0LjciTiAxMsKwNTknNTAuMCJF!5e0!3m2!1ssv!2sse!4v1715859717903!5m2!1ssv!2sse"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Kontaktformulär/Partial view -->
<h2>Kontakt</h2>

@await Html.PartialAsync("_ContactForm", Model ?? new ContactFormModel())

@if (ViewData["Message"] != null)
{
    <div id="confirmationMessage" class="confirmationMessage">
        <p style="text-align: center">@ViewData["Message"]</p>
    </div>
}
@if (ViewData["Message"] != null)
{
    <div id="confirmationMessage" class="confirmationMessage">
        <p style="text-align: center">@ViewData["Message"]</p>
    </div>
}


@Html.ValidationSummary(true) <!-- Visa alla valideringsfel i en sammanfattning -->

<!-- bokningsformulär - pop-up -->
<p id="booking-btn">BOKA BORD</p>
<div id="bookingFormDiv" class="slidingDiv hidden">
    <form id="bookingForm">
        <legend>Boka bord</legend>
        <label for="booking-name">Namn:</label><br>
        <input type="text" id="booking-name" name="booking-name" required><br>
        <label for="booking-phone">Telefon:</label><br>
        <input type="tel" id="booking-phone" name="booking-phone" required><br>
        <label for="booking-amount">Antal gäster:</label><br>
        <input type="number" id="booking-amount" name="booking-amount" required><br>
        <label for="booking-date">Tid:</label><br>
        <input type="datetime-local" id="booking-date" name="booking-date" required><br>
        <input type="button" id="bookBtn" value="BOKA">
        <div id="bookingStatus"></div>
    </form>
    <i class="fa-solid fa-x" id="closeBtn"></i>
</div>